{{ define "main" }}
  <article class="post" itemscope itemtype="http://schema.org/BlogPosting">

    <header class="post-header">
      <h2 class="post-title" itemprop="name headline">{{ .Title }}</h2>
      {{ partial "posts/posted_by.html" . }}
    </header>

    <div class="post-content" itemprop="articleBody">
      {{ .Content }}
    </div>

  </article>
{{ end }}
