<header class="site-header">

  <a class="site-title" href="{{ absURL .Site.BaseURL }}">
    <img src="{{ absURL "assets/fdroid-logo.svg" }}" />
    <h1>{{ .Site.Params.header_title }}</h1>
  </a>

  <nav class="site-nav">
    <div class="lang-selector">
      {{ .Language.LanguageName }}
      <ul>
	{{ range .Translations }}
	  <li><a href="{{ .Permalink }}">{{ .Language.LanguageName }}</a></li>
	{{ end }}
      </ul>
    </div>

    {{ range $nav_item := $.Site.Data.navigation.hugo_sucks }}
      {{ with .key }}
        {{ $key := delimit (slice "navigation" .) "." }}

	{{/* Not converting $key to string yields the following error: */}}
	{{/* executing "header" at <$key>: wrong type for value; expected string; got template.HTML */}}
	{{/* I have no idea what is going on here ~\_(o_o)_/~ */}}
        {{ $title := i18n (string $key) }}
        {{ if $nav_item.external }}
          <a class="page-link" href="{{ $nav_item.url }}">{{ $title }}</a>
        {{ else }}
          <a class="page-link {{ if (in $.Permalink $nav_item.url) }} current {{ end }}"
	     href="{{ absURL $nav_item.url }}">{{ $title }}</a>
        {{ end }}
      {{ end }}
    {{ end }}
  </nav>

</header>
